@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* =========== Google Fonts =========== */


/* =========== Common CSS =========== */

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

img {
    vertical-align: middle;
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
ol,
.click-btn {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link {
    font-family: 'Roboto', sans-serif;
}

.click-btn {
    width: 153px;
    height: 43px;
    padding: 9px 0px;
    background: #21B573;
    border-radius: 33px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    transition: all linear .3s;
}

.click-btn:hover {
    border: 1px solid #21B573;
    background-color: transparent;
    color: #21B573;
}

.online-common-heading h2,
.testimonial-common-heading h2 {
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 30px;
}


/* =========== Common CSS =========== */


/* =========== Hero Area Part Start =========== */

.hero-area-part {
    background-color: #F0FFF0;
}

.navbar {}

.navbar-brand img {
    height: 50px;
}

.navbar-nav {}

.navbar-nav .nav-item {}

.navbar-nav .nav-item .nav-link {
    color: black !important;
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
    transition: all linear .2s;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:hover {
    color: #21B573 !important;
}

.navbar-nav .sign-in .nav-link {
    width: 105px;
    height: 43px;
    border-radius: 33px;
    background-color: #21B573;
    color: white !important;
    padding: 8px 24px;
    transition: all linear .3s;
}

.navbar-nav .sign-in .nav-link:hover {
    border: 1px solid #21B573;
    color: #21B573 !important;
    background: transparent;
    padding: 8px 24px;
}

.banner-part {
    padding: 110px 0px;
}

.banner-content {
    padding-left: 15px;
    padding-top: 10px;
}

.banner-content h6 {
    color: #FD511A;
    line-height: 24px;
}

.banner-content h1 {
    color: #000000;
    font-size: 48px;
    line-height: 70px;
}

.banner-content h1 span {
    color: #21B573;
}

.banner-content p {
    color: #6C6B6B;
    font-size: 16px;
    line-height: 36px;
}


/* =========== Hero Area Part End =========== */


/* =========== School Part Start =========== */

.school-info-part {
    padding-top: 40px;
    padding-bottom: 70px;
}

.topic {
    height: 270px;
    width: 270px;
    background-color: #F8FFFB;
    border-radius: 10px;
    transition: all linear .3s;
    margin-top: 15px;
}

.topic:hover {
    background-color: white;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.info-img img {
    height: 100px;
    width: 35%;
    margin: 45px 0px 15px 90px;
}

.info-con {
    padding-top: 20px;
}


/* =========== School Part End =========== */


/* =========== Online Course Part Start =========== */

.onlineCourse-part {
    padding-bottom: 70px;
}

.card-img img {
    width: 92%;
    height: 234px;
    margin-left: 14px;
    margin-top: 10px;
}

.card {
    border: none;
    border-radius: 18px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card-body button {
    width: 125px;
    height: 35px;
    padding: 5px 0px;
    background: #21B573;
    border-radius: 33px;
    border: none;
    color: #ffffff;
    font-weight: 600;
}

.car-content {
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
}

.calender img {
    height: 22px;
    width: 16%;
    margin-left: 14px;
}

.people p,
.calender p {
    font-size: 12px;
    margin-left: 6px;
}

.people {
    margin-right: 10px;
}

.people img {
    height: 23px;
    width: 25%;
}


/* =========== Online Course Part End =========== */


/* =========== Testimonial part Start =========== */

.testimonial-part {
    padding-top: 40px;
    padding-bottom: 50px;
}

.carousel-inner {
    padding-top: 40px;
    padding-bottom: 80px;
}

.carousel-item img {
    margin-left: 80%;
    height: 150px;
    width: 150px;
    margin-top: 22px;
}

.carousel-item p {
    margin-left: 25%;
    margin-top: 60px;
}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000000;
}


/* =========== Testimonial Part End =========== */


/* =========== Footer Part Start =========== */

.footer-part {
    background-color: rgb(39, 40, 43);
    padding-top: 80px;
    padding-bottom: 10px;
}

.footer-part p {
    color: #ffffff;
    margin-top: 8px;
}

.footer-menu {}

.footer-menu1 ul {
    margin-left: 90px;
}

.footer-menu1 ul .active a {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.footer-menu1 ul li {
    margin-top: 8px;
}

.footer-menu1 ul li a {
    color: rgb(209, 205, 205);
    font-size: 15px;
    font-weight: 500;
}

.footer-menu2 ul {
    margin-left: 45px;
}

.footer-menu2 ul .active a {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.footer-menu2 ul li {
    margin-top: 8px;
}

.footer-menu2 ul li a {
    color: rgb(209, 205, 205);
    font-size: 15px;
    font-weight: 500;
}

.footer-menu3 ul {
    margin-left: 140px;
}

.footer-menu3 ul .active a {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.footer-menu3 ul li {
    margin-top: 8px;
}

.footer-menu3 ul li a {
    color: rgb(209, 205, 205);
    font-size: 15px;
    font-weight: 500;
}

.footer-bottom {
    margin-top: 70px;
}

.footer-bottom p span {
    font-size: 15px;
}


/* =========== Footer Part End =========== */


/* =========== Google Fonts =========== */


/* =========== Google Fonts =========== */
